
      
            <div>
                <div class="flex align-items-center mb-3">
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                    <p-skeleton width="5rem" height="1.8rem" styleClass="mr-4"></p-skeleton>
                  </div>          
                  <div class="grid mb-3">
                    <div class="col-6 md-6">
                      <p-card>
                        <div class="flex flex-column align-content-start mb-2">
                            <p-skeleton width="12rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="17rem" height="2.5rem"  styleClass="mb-4"></p-skeleton>
                            <div class="flex flex-row mb-3">
                                <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                            </div>
                            <div class="flex flex-row">
                                <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                            </div>
                        </div>          
                      </p-card>
                    </div>
                    <div class="col-6 md-6">
                        <p-card>
                          <div class="flex flex-column align-content-start mb-2">
                              <p-skeleton width="12rem" styleClass="mb-2"></p-skeleton>
                              <p-skeleton width="17rem" height="2.5rem"  styleClass="mb-4"></p-skeleton>
                              <div class="flex flex-row mb-3">
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                              </div>
                              <div class="flex flex-row">
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                              </div>
                          </div>
                        </p-card>
                      </div>
                      <div class="col-6 md-6">
                        <p-card>
                          <div class="flex flex-column align-content-start mb-2">
                              <p-skeleton width="12rem" styleClass="mb-2"></p-skeleton>
                              <p-skeleton width="17rem" height="2.5rem"  styleClass="mb-4"></p-skeleton>
                              <div class="flex flex-row mb-3">
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                              </div>
                              <div class="flex flex-row">
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                              </div>
                          </div>
                        </p-card>
                      </div>
                      <div class="col-6 md-6">
                        <p-card>
                          <div class="flex flex-column align-content-start mb-2">
                              <p-skeleton width="12rem" styleClass="mb-2"></p-skeleton>
                              <p-skeleton width="17rem" height="2.5rem"  styleClass="mb-4"></p-skeleton>
                              <div class="flex flex-row mb-3">
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="4rem"  height="2rem" styleClass="mr-2"></p-skeleton>
                              </div>
                              <div class="flex flex-row">
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                                  <p-skeleton width="5rem"  height="1.5rem" styleClass="mr-2"></p-skeleton>
                              </div>
                          </div>
                         
                        
                        </p-card>
                      </div>
                    
                     
                  </div>
                 
                  <p-skeleton height="2rem" styleClass="mb-4"></p-skeleton>
              
                  
            </div>
    
  