
<ng-container *ngIf="{ user: user$ | async, isLoading: isLoading$ | async, userRepoCompleteDetails: userRepoCompleteDetails$ | async } as data">
<p-card *ngIf="data.user">
  
        <div class="mb-3 ml-3 mt-7">
          <img src="{{ data.user.avatar_url }}" alt="Profile Image" class="border-round mt-4" width="180" height="180">
        </div>
 
          <div class="flex flex-column mb-2 ml-3 align-content-start" *ngIf="data.userRepoCompleteDetails != null">
            <div class="text-white text-2xl mb-2">{{data.userRepoCompleteDetails.name}}</div>
            <div class="text-white text-base mb-2">{{data.user.login}}</div>
            <div class="flex flex-row align-items-center mb-2" *ngIf="data.userRepoCompleteDetails.location != null">
              <img src="/assets/svgs/location-outline.svg" height="15px" width="15px" >
              <div class="text-white text-base pl-3">{{data.userRepoCompleteDetails.location}}</div>
            </div>
            <div  class="flex flex-row mb-2 text-center" *ngIf="data.userRepoCompleteDetails.twitter_username != null">
              <i class="pi pi-twitter"></i>
            <div class="text-white text-base pl-3 cursor-pointer twitter-link" (click)="openTwitter(data.userRepoCompleteDetails.twitter_username)" >{{data.userRepoCompleteDetails.twitter_username}}</div>
            </div>
            <div class="flex flex-row mb-4 text-center">
              <span class="text-white text-base ">{{data.userRepoCompleteDetails.followers}} Followers</span>
              <span class="text-white  text-base pl-1">. {{data.userRepoCompleteDetails.following}} Following</span>
            </div>
          </div> 
     
</p-card>
<app-loading-profile-skeleton *ngIf="data.isLoading && !data.user"></app-loading-profile-skeleton>
</ng-container>

  